@media screen and (min-width : 1350px){
    #starters .foodpic{
        margin-left: 25%;
        /* margin-top: 8%; */
    }
}

#starters{
    padding-bottom: 30vh;
    color: white;
}

#starters .row-container{
 display: flex;
}

#starters .column-left{
 flex: 50%;
}

#starters .column-right{
    flex: 50%;
}

#starters .foodpic{
    width: 60%;
    height: auto;
}



#starters h4{
    font-size: 3rem;
    width: 40vw;
    border-bottom: solid pink 0.1rem;
    padding-bottom: 10px;
  
}

#starters h5{
    font-weight: bold;
}


#starters p{
    font-size: 1.2rem;
    font-weight: lighter;
}

#starters .info-container{
    display: flex;
    width: 40vw;
    padding-top: 50px;
    flex-direction: column;
    flex-wrap: wrap;
   
}


#starters .price{
   padding-top: 5px;
   font-weight: lighter;
    
}


