#navigation{
    text-align: center;
    display: flex;
    justify-content: space-evenly;
    padding: 10vh 0 10vh;
    z-index: +10;
    background-color: black;
}

a {
    color: white;
    text-decoration: underline pink 4px;
    
}

a:hover{
    color: pink;
    text-decoration: none;
}