@media screen and (min-width : 1350px){
    #specials .foodpic{
        margin-left: 10%;
        margin-top: 8%;
        
    }
}

#specials{
    padding-bottom: 30vh;
    color: white;
}

#specials .row-container{
 display: flex;
}

#specials .column-left{
 flex: 50%;
}

#specials .column-right{
    flex: 50%;
}

#specials .foodpic{
    width: 70%;
    height: auto;
}



#specials h4{
    font-size: 3rem;
    width: 40vw;
    border-bottom: solid pink 0.1rem;
    padding-bottom: 10px;
  
}

#specials h5{
    font-weight: bold;
}


#specials p{
    font-size: 1.2rem;
    font-weight: lighter;
}

#specials .info-container{
    display: flex;
    width: 40vw;
    padding-top: 50px;
    flex-direction: column;
   
}


#specials .price{
   padding-top: 5px;
   font-weight: lighter;
    
}