@media screen and (min-width : 1350px){
    #desserts .foodpic{
        margin-left: 5%;
        margin-top: 2%;
    }
}



#desserts{
    padding-top: 25vh;
    padding-bottom: 10vh;
    color: white;
}


#desserts .row-container{
 display: flex;
}

#desserts .column-left{
 flex: 50%;
 
}

#desserts .column-right{
    flex: 50%;
 
}

#desserts h4{
    font-size: 3rem;
    width: 40vw;
    border-bottom: solid pink 0.1rem;
    padding-bottom: 10px;
    margin-left: 5vw;
}

h5{
    font-weight: bold;
    
}


#desserts p{
    font-size: 1.2rem;
    font-weight: lighter;
    
}

#desserts .info-container{
    margin-left: 5vw;
    display: flex;
    width: 40vw;
    padding-top: 50px;
    flex-wrap: wrap;
    flex-direction: column;

}

#desserts .description{
    margin-left: 5vw;
}


#desserts .price{
    
   padding-top: 5px;
   font-weight: lighter;
    
}

#desserts .foodpic{
    width: 80%;
    height: auto;
}

