#menu-opening{
    width: 100vw;
    height: 100vh;
}


.title{
   position: absolute;
   top: 45%;
   left: 2%;
   color: white;
   font-size: 4.5rem;
}


.title-image{
    position: absolute;
    left: 45%;
    top: 20%;
}